<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 뷰포트 메타 태그 추가 -->
</head>
<body class="min-h-screen flex flex-col">
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>
<link rel="stylesheet" href="/css/rentalee/board_list.css"/>
<header class="bg-white shadow">
    <div class="mx-auto max-w-screen-lg px-4 py-6 sm:px-6 lg:px-8"> <!-- max-w-7xl에서 max-w-screen-lg로 변경 -->
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">공지 사항</h1>
    </div>
</header>
<main class="flex-grow">
    <div class="mx-auto max-w-screen-lg px-4 py-6 sm:px-6 lg:px-8"> <!-- max-w-7xl에서 max-w-screen-lg로 변경 -->
        <table id="boardTable" class="min-w-full bg-white rounded-lg shadow-md">
            <thead>
            <tr class="bg-gray-200 text-gray-600">
                <th class="py-3 px-4 text-left">#</th>
                <th class="py-3 px-4 text-left" style="width: 60%;">제목</th>
                <th class="py-3 px-4 text-left">작성자</th>
                <th class="py-3 px-4 text-left">작성 일자</th>
            </tr>
            </thead>

            <tbody class="text-gray-700">
            <tr th:each="board : ${boards}" class="hover:bg-gray-100">
                <td class="py-3 px-4"
                    th:text="${boards.getTotalElements() - (boards.getNumber() * boards.getSize()) - boardStat.index}"></td>
                <td class="py-3 px-4">
                    <a class="text-blue-600" th:href="@{/templates/rentalee/board/{id}(id=${board.id})}" th:text="${board.title}"></a>
                </td>

                <td class="py-3 px-4"
                    th:text="${board.student.name}"></td>

                <td class="py-3 px-4" th:text="${board.updatedAt == board.createdAt} ? ${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm')} : ${#temporals.format(board.updatedAt, 'yyyy-MM-dd HH:mm') + ' (수정)'}"></td>
            </tr>
            </tbody>
        </table>

        <div class="pagination flex justify-center mt-4"> <!-- flex와 justify-center로 버튼 정렬 -->
            <button class="pagination-button" th:disabled="${boards.getNumber()}==0"
                    th:onclick="|location.href='@{/boards(page=${1}, notice=true)}'|">
                <<</button>
            <button class="pagination-button" th:disabled="${!boards.hasPrevious()}"
                    th:onclick="|location.href='@{/boards(page=${boards.getNumber()}, notice=true) }'|">
                <</button>
            &nbsp; &nbsp;
            <span class="pagination-info">[[${boards.getNumber()+1}]] / [[${boards.getTotalElements() == 0 ? 1 : boards.getTotalPages()}]]</span>
            &nbsp; &nbsp;
            <button class="pagination-button" th:disabled="${!boards.hasNext()}"
                    th:onclick="|location.href='@{/boards(page=${boards.getNumber() + 2}, notice=true) }'|">
                ></button>
            <button class="pagination-button" th:disabled="${!boards.hasNext()}"
                    th:onclick="|location.href='@{/boards(page=${boards.getTotalPages()}, notice=true) }'|">
                >></button>
        </div>

    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
<script src="/js/rentalee/board-list.js"></script>
</html>
