<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body class="min-h-screen flex flex-col">
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>
<link rel="stylesheet" href="/css/rentalee/board_list.css"/>

<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900" th:text="${board.notice} ? '공지 사항' : '자유 게시판'"></h1>
    </div>
</header>
<main class="flex flex-col md:flex-row"> <!-- 모바일에서는 flex-col, 데스크탑에서는 flex-row -->
    <div class="md:w-2/5 m-10 bg-gray-50 p-6 shadow-xl rounded-lg flex-shrink-0" style="align-self: flex-start;">
        <div class="flex items-center justify-between">
            <div class="inline-flex items-center">
                <img th:if="${board.student.picture == null}" src="/images/person.jpeg"
                     class="w-12 h-12 rounded-full border-2 border-gray-500">
                <img th:unless="${board.student.picture == null}" th:src="${board.student.picture}"
                     class="w-12 h-12 rounded-full border-2 border-gray-500">
                <div class="ml-4">
                    <h2 class="text-xl font-bold text-gray-900"
                        th:text="${board.student.name + '(' + board.student.stuId + ')'}"></h2>
                    <p class="text-gray-600"
                       th:text="${board.updatedAt==board.createdAt} ? ${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm')} : '(수정) ' + ${#temporals.format(board.updatedAt, 'yyyy-MM-dd HH:mm')}"></p>
                </div>
            </div>
            <div>
                <span class="text-gray-900 material-icons mr-2">thumb_up</span>
                <span th:text="${board.likeNumber.size()}"></span>
            </div>
        </div>
        <div class="bg-gray-200 mt-4 mb-4 p-6 rounded-lg">
            <h2 class="text-xl font-bold  mb-4" th:text="${board.title}"></h2>
            <p class="text-gray-700" style="white-space: pre-line; word-break: break-all"
               th:text="${board.content}"></p>
        </div>

        <div class="flex justify-end">
            <div th:if="${loginStudent != null and loginStudent.getId() == board.student.studentId}">
                <a th:href="@{/templates/rentalee/board/{boardId}/edit(boardId=${board.boardId})}">
                    <span class="material-symbols-outlined">edit_note</span>
                </a>
            </div>
            &nbsp;&nbsp;
            <div th:if="${loginStudent != null and (loginStudent.getId() == board.student.studentId || loginStudent.getRole().toString() == 'ADMIN')}">
                <form id="delete-form" th:action="@{/templates/rentalee/board/{id}(id=${board.boardId})}" method="post"
                      style="display: none;">
                    <input type="hidden" name="_method" value="delete"/>
                </form>
                <a href="#"
                   onclick="if(confirm('게시글을 삭제하시겠습니까?')) { document.getElementById('delete-form').submit(); } return false;">
                    <span class="material-symbols-outlined" style="color: red">delete</span>
                </a>
            </div>
        </div>
    </div>
    <div class="w-full md:w-1/2 m-0 mb-10 md:m-10 bg-gray-50 p-6 shadow-xl rounded-lg flex-shrink-0"
         style="align-self: flex-start;">
        <div class="hover:transform hover:-translate-y-1 transition-transform duration-200">
            <form th:id="'like-form-' + ${board.boardId}"
                  th:action="@{/templates/rentalee/board/{boardId}/like(boardId=${board.boardId})}"
                  method="post" style="display: none;"></form>
            <a th:if="${loginStudent != null}" href="#"
               th:onclick="'return handleLike(' + ${board.boardId} + ', ' + ${board.isLike(loginStudent.getId())} + ');'"
               class="flex items-center w-28 py-2 border border-gray-300 rounded-lg transition duration-300"
               th:classappend="${board.isLike(loginStudent.getId())} ? 'bg-blue-500 text-white' : 'bg-white text-black'">

                <span class="px-2"
                      th:classappend="${board.isLike(loginStudent.getId())} ? 'material-icons' : 'material-symbols-outlined'">thumb_up</span>
                <span class="ml-2">좋아요</span>
            </a>
            <a th:if="${loginStudent == null}" th:href="@{/templates/rentalee/board/{boardId}/like(boardId=${board.boardId})}"
               class="flex items-center w-28 py-2 border border-gray-300 rounded-lg bg-white text-black hover:bg-gray-100 transition duration-300">
                <span class="px-2 material-symbols-outlined">thumb_up</span>
                <span class="ml-2">좋아요</span>
            </a>
        </div>

        <form class="mt-5 mb-5" th:action="@{/templates/rentalee/board/{boardId}/reply(boardId=${board.boardId})}" th:object="${replyRequestDto}" method="post">
            <label th:for="content" class="block text-lg font-semibold mb-2"><strong>댓글 작성</strong></label>
            <div class="flex items-start">
                <textarea th:if="${loginStudent!=null}" th:field="*{content}" th:errorclass="error-input"
                          class="flex-1 border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                          placeholder="작성 내용을 입력하세요 (등록 시 수정은 불가합니다)"></textarea>
                <textarea th:if="${loginStudent==null}" th:field="*{content}" th:errorclass="error-input"
                          class="flex-1 border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                          placeholder="로그인 후 댓글 작성이 가능합니다"></textarea>
                <button class="material-symbols-outlined ml-2 bg-blue-500 text-white rounded-lg px-2 py-2 hover:bg-blue-600 transition duration-300"
                        type="submit" role="button">edit
                </button>
            </div>
            <div class="error-class mt-2 text-red-600" th:errors="*{content}"></div>
        </form>

        <div th:each="reply : ${replyList}" class="flex items-start mb-4">
            <div class="flex w-2 h-2 bg-gray-400 rounded-full mr-4 mt-3"></div>
            <div class="flex-1">
                <div class="flex justify-between items-center">
                    <div class="flex justify-start">
                        <div class="inline-flex items-center mb-2 text-gray-500">
                            <img th:if="${reply.student.picture == null}" src="/images/person.jpeg" class="w-12 h-12 rounded-full border-2 border-gray-500">
                            <img th:unless="${reply.student.picture == null}" th:src="${reply.student.picture}" class="w-12 h-12 rounded-full border-2 border-gray-500">
                            <div class="ml-4">
                                <span class="font-semibold" th:utext="${reply.student.stuId} + '<br>' + ${reply.student.name}"></span>
                            </div>
                        </div>
                        <div class="ml-2" th:if="${loginStudent != null and (loginStudent.getId() == reply.student.studentId || loginStudent.getRole().toString() == 'ADMIN')}">
                            <form th:id="'delete-reply-form-' + ${reply.replyId}" th:action="@{/templates/rentalee/board/{boardId}/reply/{replyId}(boardId=${board.boardId}, replyId=${reply.replyId})}" method="post"
                                  style="display: none;">
                                <input type="hidden" name="_method" value="delete"/>
                            </form>
                            <a href="#" th:onclick="'return handleDeleteReply(' + ${reply.replyId} + ')'">
                                <span class="material-symbols-outlined" style="color: red">delete</span>
                            </a>
                        </div>
                    </div>
                    <div class="mr-3">
                        <span class="text-gray-900 material-icons mr-2">thumb_up</span>
                        <span th:text="${reply.likeNumber.size()}"></span>
                    </div>
                </div>
                <div class="relative mb-1">
                    <div class="bg-gray-200 p-4 rounded-lg">
                        <span th:text="${reply.content}"></span>
                    </div>
                </div>
                <div class="flex justify-between mb-2">
                    <span class="text-gray-500 text-sm ml-1"
                          th:text="${#temporals.format(reply.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
                    <div class="flex items-center">
                        <div class="flex items-center hover:transform hover:-translate-y-1 transition-transform duration-200">
                            <form th:id="'reply-like-form-' + ${reply.replyId}"
                                  th:action="@{/templates/rentalee/board/{boardId}/reply/{replyId}/like(boardId=${board.boardId}, replyId=${reply.replyId})}"
                                  method="post" style="display: none;"></form>
                            <a th:if="${loginStudent != null}" href="#"
                               th:onclick="'return handleReplyLike(' + ${reply.replyId} + ', ' + ${reply.isLike(loginStudent.getId())} + ');'"
                               class="flex items-center w-24 sm:w-28 py-1 sm:py-2 border border-gray-300 rounded-lg transition duration-300"
                               th:classappend="${reply.isLike(loginStudent.getId())} ? 'bg-blue-500 text-white' : 'bg-white text-black'">
                                <span class="px-1 sm:px-2" th:classappend="${reply.isLike(loginStudent.getId())} ? 'material-icons' : 'material-symbols-outlined'">thumb_up</span>
                                <span class="text-sm sm:text-base ml-1 sm:ml-2">좋아요</span>
                            </a>
                            <a th:if="${loginStudent == null}" th:href="@{/templates/rentalee/board/{boardId}/like(boardId=${board.boardId})}"
                               class="flex items-center w-28 py-2 border border-gray-300 rounded-lg bg-white text-black hover:bg-gray-100 transition duration-300">
                                <span class="px-2 material-symbols-outlined">thumb_up</span>
                                <span class="ml-2">좋아요</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
<script src="/js/rentalee/board-like.js"></script>
</html>
