<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: header}"></head>
<body class="min-h-screen flex flex-col">
<link rel="stylesheet" href="/css/icross/error_page.css"/>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>
<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">I-CROSS</h1>
            ㅎㅇㅎㅇ
    </div>
</header>
<main class="flex-grow">
    <div class="mx-auto max-w-screen-lg px-4 py-6 sm:px-6 lg:px-8">
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/icross/fetch_icross_info.js"></script>
</html>